.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 768px) {
  .todoContainer {
    width: 500px;
    margin: 100px auto;

    display: flex;
    flex-direction: column;
  }
  .titile {
    width: 500px;

  }
}
.title {
    max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.todoContainer {
  max-width: 70%;
  margin: 70px auto;
  background-color: rgb(32, 32, 53);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.todoCreateForm {
  display: flex;
  gap: 5px;
}

.todoInput {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  border: solid 1px #999;
}

.buttonCreate {
  border: none;
  border-radius: 3px;
  background-color: rgb(26, 76, 169);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.todosContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.todo {
  padding: 10px;
  background-color: white;
}

.todoTitle {
  flex: 1;
  font-size: 20px;
}
.todoUpdateForm,
.todoInfo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.button {
  border: none;
  border-radius: 3px;
  background-color: rgb(72, 122, 221);
  color: white;
  padding: 10px 20px;
}

.buttonDelete {
  border: none;
  border-radius: 3px;
  background-color: rgb(169, 26, 26);
  color: white;
  padding: 10px 20px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  font-size: 40px;
  text-align: center;
}
